#homeComponent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

header {
    text-align: center;
    width: 100%;
    height: 14vh;
}

#homeMain {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
    width: 100%;
    height: 76vh;
    background-color: #9e2c2c;
}

#chessNewsSection {
    height: 62vh;
    width: 15%;
    background-color: black;
}

#playChessSectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    align-items: center;
    height: 62vh;
    width: 50%;
}

#quickStartSection {
    width: 70%;
    height: 28vh;
}

#puzzleAndStatsSection {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.puzzleStatsBtn {
    width: 30%;
    height: 12vh;
}

footer {
    text-align: center;
    width: 100%;
    height: 10vh;
}